<div class="flex flex-col gap-[1rem]">
<div class = "border border-solid border-[0.1rem] rounded-[1rem] p-[1.5rem] flex flex-col gap-[0.5rem]">
    <p><%= @article.id %></p>
    <h1 class="text-xl font-mono font-bold"><%= @article.title %></h2>
    <h3 class="text-base font-mono italic"><%= @article.author.name%></h3>
    <p><%= @article.body %></p>
</div>
<%= render "comments/all_comments", article: @article %>
<%= button_to 'Back to Articles', articles_path, :class => "border border-solid border-[0.1rem] rounded-[1rem] px-[0.5rem] py-[0.25rem] bg-black text-white", :method => "get" %>
</div>