<div class="flex flex-col gap-[1rem]">
    <div class = "border border-solid border-[0.1rem] rounded-[1rem] p-[1.5rem] flex flex-col gap-[0.5rem]">
        <p><%= @author.id %></p>
        <h1 class="text-xl font-mono font-bold"><%= @author.name %></h1>
        <% if @author.articles.any? %>
            <h1 class="text-base font-mono italic">Articles</h1>
            <div class="flex flex-col gap-[0.25rem]">
                <% @author.articles.each do |article| %>
                <% break if article.id == nil%>
                    <p><%= article.id %></p>
                    <p class="font-mono"><%= article.title %></p>
                    <%= button_to 'Show', article_path(article.id), :class => "border border-solid border-[0.1rem] rounded-[1rem] px-[0.5rem] py-[0.25rem] bg-black text-white", :method => "get" %>
                <% end %>
            </div>
        <% else %>
            <h1 class="text-base font-mono italic">No articles to display</h1>
        <% end %>
    </div>
    <%= button_to 'Back to Authors', authors_path, :class => "border border-solid border-[0.1rem] rounded-[1rem] px-[0.5rem] py-[0.25rem]", :method => "get" %>
</div>